
body {
  margin: 10;
  background: linear-gradient(orange,yellow);
  font-size: 15px;
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow:0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A3"] {
  width: 33cm;
  height: 42cm;
}
page[size="A3"][layout="portrait"]{
  width: 42cm;
  height: 29.7cm;
}

@media print {
 body,page {
   margin: 0;
   box-shadow: 0;
 }
}
.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}
.affix + .container-fluid {
   padding-top: 70px;
}
 
.header {
  background-color: white;
  padding: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: #666666;
}

#navbar a {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

#navbar a:hover {
  background-color: white;
  color: black;
}

#navbar a.active {
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
h1 {
   text-align: center;
   background-color: gray;
   padding: 40px;
   margin: 45px;
}

img {
     width: 100px;
     height: 100%;     
}
h2 {
text-align: center;
font-size: 25px;
}
h3{
text-align: center;
font-size: 22px;
}



.col-padding {
   padding: 0px 15px;
}

.grid-divider>[class*='col'] :nth-child(n+2):before{
   content:
   border-left: 1px solid black #ddd;
   position: absolute;
   top: 0;
   bottom: 0;
   font-size: 15px;
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row:after {
  content: ;
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
p1 {
font-size: 18px;
}

p {
 font-size: 18px;
}
.article {
     font-size: 15px;
     text-align: center;
}

.footer {
       position: fixed;
       left: 0;
       bottom:0;
       background-color: #171717;
       color: white;
       text-align: center;
       width: 100%;
       
       
}



